<h1>Search#index</h1>


<!-- <div class='photo'>
  <a href='{photo_url}' target='_blank'><img class='main' src='{photo}' width='250' height='250' /></a>
  <img class='avatar' width='40' height='40' src='{avatar_url}' />
  <span class='heart'><strong>{like_count}</strong></span>
</div> -->